@model DAL.DataBase.SubDeparment

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details :</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SubDept_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubDept_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Dept_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Dept_ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.SubDept_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
