@model TasksMonitoringSystem.User

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="divCenter col-md-6">
        <h2 class="headerPage text-center wow fadeInDown" data-wow-duration="1s">Create New Users</h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group row">
                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @*@Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })*@
                        <input id="Password" name="Password" type="password" class="form-control" placeholder="Password">
                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.IsAdminLevel, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-9 m-t-12 m-l-10">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.IsAdminLevel)
                            @Html.ValidationMessageFor(model => model.IsAdminLevel, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-12">
                        <input type="submit" value="Create" class="btn btn-primary btnCenter hvr-grow‍‍‍" />
                    </div>
                </div>
            </div>
        }

        <div>
            @Html.ActionLink("Back to List", "Index", false, new { @class = "btn btn-link" })
        </div>
    </div>
</div>