@model EmaTours.DTOs.Business.ClientPickUpDTO
@{
    ViewBag.Title = "Manage PickUp Request - "+Model.PickUpRequestID;
}
<link href="~/css/bootstrap-datetimepicker.min.css.css" rel="stylesheet" />
<script src="~/js/lib/datepicker/bootstrap-datetimepicker.min.js"></script>
@using (Html.BeginForm("AddRequestDetails", "PickUp", "post"))
{
    <div class="card card-outline-info">
        <div class="card-header">
            <h4 class="m-b-0 text-white">PickUp Request: @Model.PickUpRequestID</h4>
        </div>

        <div class="card-body">

            @Html.HiddenFor(model => model.PickUpRequestID)
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-4">Client Name:</label>
                        <div class="col-md-8">
                            <p class="form-control-static">
                                @Html.TextBoxFor(model => model.ClientName, new { @class = "form-control", @readonly = "readonly" })

                            </p>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-4">Number Of Members:</label>
                        <div class="col-md-8">
                            <p class="form-control-static">
                                @Html.TextBoxFor(model => model.NumberOfMembers, new { @class = "form-control", @readonly = "readonly" })
                            </p>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-4">Determined Pickup Time:</label>
                        <div class="col-md-7">
                            <div class="form-group">
                                <div class='input-group date' id='datetimepicker1'>
                                    @Html.TextBoxFor(model => model.DeterminedPickupTime, new { @class = "form-control " })
                                    <span class="input-group-addon" style="width: 15%">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-4">opened by:</label>
                        <div class="col-md-8">
                            <p class="form-control-static">
                                @Html.TextBoxFor(model => model.ClientNote, new { @class = "form-control", @readonly = "readonly" })
                            </p>
                        </div>
                    </div>
                </div>
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-4">CreationDate:</label>
                        <div class="col-md-8">
                            <p class="form-control-static">
                                @Html.TextBoxFor(model => model.CreationDate, new { @class = "form-control", @readonly = "readonly" })

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-4">Back Flight Time:</label>
                        <div class="col-md-8">
                            <p class="form-control-static">
                                @Html.TextBoxFor(model => model.BackFlightTime, new { @class = "form-control", @readonly = "readonly" })

                            </p>
                        </div>
                    </div>
                </div>
                <!--/span-->
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-4"> User Assignee:</label>
                        <div class="col-md-8">
                            <p class="form-control-static">
                                @Html.TextBoxFor(model => model.UserAssigneeName, new { @class = "form-control", @readonly = "readonly" })

                            </p>
                        </div>
                    </div>
                </div>

                <!--/span-->
                <!--/span-->
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label class="control-label text-right col-md-2">Comment:</label>
                        @Html.TextAreaFor(model => model.UserAssigneeComment, new
                   {
                       rows = "15",
                       placeholder = "Enter Problem Description ...",
                       @class = "textarea_editor form-control col-md-10 form-control"
                   })
                    </div>
                </div>

            </div>
            <div class="form-actions">
                <div class="row">
                    <div class="col-md-5">
                    </div>
                    <div class="col-md-6">

                        @if (Model.StatusID == (int)EmaTours.BLL.StaticData.StaticEnums.RequestStatus.Pending)
                        {<button type="submit" class="btn btn-danger" @*style="display:none;"*@> <i class="fa fa-reply"></i>  Save</button>
                        }
                        @if (Model.StatusID == (int)EmaTours.BLL.StaticData.StaticEnums.RequestStatus.New)
                        {
                            <button type="button" onclick="location.href='@Url.Action("AssignRequest", "PickUp", new { PickUpRequestID = Model.PickUpRequestID })'" class="btn btn-warning"><i class="fa fa-check"></i>  Assign</button>
                        }
                        @if (Model.StatusID == (int)EmaTours.BLL.StaticData.StaticEnums.RequestStatus.Pending)
                        {
                            <button type="button" onclick="location.href='@Url.Action("CloseRequest", "PickUp", new { PickUpRequestID = Model.PickUpRequestID })'" class="btn btn-dark"><i class="fa fa-lock"></i>  Close</button>
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>

}


<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            format: 'DD/MM/YYYY hh:mm A',


        });
    });
</script>









