@model IEnumerable<DAL.DataBase.SubDeparment>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>SubDepartments :</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SubDept_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubDept_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dept_ID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubDept_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubDept_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dept_ID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SubDept_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SubDept_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SubDept_ID })
        </td>
    </tr>
}

</table>
