<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon"  sizes="16x16" href="~/images/favicon1.ico">
    <!-- Bootstrap Core CSS -->
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->


    <link href="~/css/lib/calendar2/semantic.ui.min.css" rel="stylesheet">
    <link href="~/css/lib/calendar2/pignose.calendar.min.css" rel="stylesheet">
    <link href="~/css/lib/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/css/lib/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/css/lib/dropzone/dropzone.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/helper.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">


    <script src="~/js/lib/jquery/jquery.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/js/lib/bootstrap/js/popper.min.js"></script>
    <script src="~/js/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/lib/datepicker/bootstrap-datepicker.min.js"></script>
    <link href="~/css/lib/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/lib/datepicker/bootstrap-datepicker3.min.css" rel="stylesheet" />
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/js/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/js/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/js/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/scripts.js"></script>

    <!-- scripit init-->
    <!--Custom JavaScript -->
    @*<script src="~/js/custom.min.js"></script>*@

    @*<script src="~/js/jquery.flot.js"></script>*@
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:** -->
    <!--[if lt IE 9]>
        <script src="https:**oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https:**oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="fix-header fix-sidebar" style="overflow-anchor: none;">
    <!-- Preloader - style you can find in spinners.css -->
    @*<div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>*@
    <!-- Main wrapper  -->
    <div id="main-wrapper">
        <!-- header header  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="~/Dashboard/index">
                        <!-- Logo icon -->
                        <b><img src="~/images/EMA-logo.png" style="height:40px;width:40px" alt="homepage" class="dark-logo" /></b>
                        <!--End Logo icon -->
                        <!-- Logo text -->
                        <span><img src="~/images/logo-text1.png" alt="homepage" class="dark-logo" /></span>

                    </a>
                </div>

                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- toggle and nav items -->
                    <ul class="navbar-nav mr-auto mt-md-0">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>
                    <!-- User profile and search -->
                    <ul class="navbar-nav my-lg-0">

                        <!-- Comment -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <b id="numberofnotifications" style="color: red;position: absolute;margin-top: -5px;margin-left: -7px;"></b>
                                <i class="fa fa-bell">
                                </i>

                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right mailbox animated zoomIn">
                                <ul>
                                    <li>
                                        <div class="drop-title">Notifications</div>
                                    </li>
                                    <li>
                                        <div class="message-center">
                                            <!-- Message -->
                                         


                                            @*<a href="#">
                                                    <div class="btn btn-danger btn-circle m-r-10">
                                                        numberofnotifications
                                                        <i class="fa fa-link"></i>
                                                    </div>
                                                    <div class="mail-contnet">
                                                        <h5>This is title</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-success btn-circle m-r-10"><i class="ti-calendar"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>This is another title</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-info btn-circle m-r-10"><i class="ti-settings"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>This is title</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span>
                                                    </div>
                                                </a>
                                                <!-- Message -->
                                                <a href="#">
                                                    <div class="btn btn-primary btn-circle m-r-10"><i class="ti-user"></i></div>
                                                    <div class="mail-contnet">
                                                        <h5>This is another title</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span>
                                                    </div>
                                                </a>*@
                                        </div>
                                    </li>
                                    @*<li>
                                            <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                        </li>*@
                                </ul>
                            </div>
                        </li>
                        <!-- End Comment -->
                        <!-- Messages -->
                        
                        <!-- End Messages -->
                        <!-- Profile -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-muted  " href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="~/images/Blank-person-photo1.png" alt="user" class="profile-pic" /></a>
                            <div class="dropdown-menu dropdown-menu-right animated zoomIn">
                                <ul class="dropdown-user">
                                    <li><a href="#"><i class="ti-user"></i> @Request.Cookies["UserName"].Value </a></li>
                                    @*<li><a href="#"><i class="ti-settings"></i> Change Password</a></li>*@
                                    <li><a href="~/Login/LogOut"><i class="fa fa-power-off"></i> Logout</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <!-- End header header -->
        <!-- Left Sidebar  -->
        <div class="left-sidebar">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-devider"></li>
                        <li class="nav-label">EMA Tours Admin Panel</li>
                        <li>
                            <a class="" href="#" aria-expanded="false"><i class="fa fa-tachometer"></i><span class="hide-menu">Dashboard</span></a>

                        </li>
                        <li>
                            <a href="~/Trip/AddTrip" aria-expanded="false"><i class="fa fa-ticket"></i><span class="hide-menu">Add New Trip</span></a>

                        </li>
                        <li>
                            <a href="~/Trip/ViewAllTrip" aria-expanded="false"><i class="fa fa-ticket"></i><span class="hide-menu">All Trips</span></a>

                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false">
                                <i class="fa fa-ticket">
                                </i> <span class="hide-menu" style="position: unset;">Trip Request</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Trip/ViewAllTripRequests">All Request</a></li>
                                <li><a href="~/Trip/ViewTripRequests?RequestStatusID=1">New Requests</a></li>
                                <li><a href="~/Trip/ViewTripRequests?RequestStatusID=2">Pending Requests</a></li>
                                <li><a href="~/Trip/ViewTripRequests?RequestStatusID=3">Closed Requests</a></li>
                                <li class="MY_ASSIGN_TICKET"><a href="~/Trip/GetAssignedTripRequest">My Assigned Requests</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false">
                                <i class="fa fa-ticket"></i> <span class="hide-menu" style="position: unset;">PickUp Request</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Pickup/ViewAllPickup">All Request</a></li>
                                <li><a href="~/Pickup/GetPickUpRequest?RequestStatusID=1">New Requests</a></li>
                                <li><a href="~/Pickup/GetPickUpRequest?RequestStatusID=2">Pending Requests</a></li>
                                <li><a href="~/Pickup/GetPickUpRequest?RequestStatusID=3">Closed Requests</a></li>
                                <li class="MY_ASSIGN_TICKET"><a href="~/Pickup/GetAssignedPickUpRequest">My Assigned Requests</a></li>
                            </ul>
                        </li>
                        <!--Client-->
                        <li id="USERSSidemenu">
                            <a class="has-arrow  " aria-expanded="false" href="#"><i class="fa fa-users"></i><span class="hide-menu">Client</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/Client/ViewAllClients">All Clients</a></li>
                            </ul>
                        </li>

                        <!--USERS-->
                        @{ 
                            if ((int)EmaTours.BLL.StaticData.StaticEnums.UserType.Admin == Convert.ToInt32(Request.Cookies["UserType"].Value))
                            { 

                                <li id="USERSSidemenu">
                            <a class="has-arrow  " aria-expanded="false" href="#"><i class="fa fa-users"></i><span class="hide-menu">Users</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/User/ViewAllUsers">All Users</a></li>
                                <li><a href="~/User/AddUser">ADD New User</a></li>

                            </ul>
                        </li>
                            }

                        }
                        <!--Departments-->
                        <li id="DepartmentsSidemenu">
                            <a class="has-arrow  " aria-expanded="false" href="#">
                                <i class="fa fa-columns"></i>
                                <span class="hide-menu">Operating Countries</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">

                                <li><a href="~/OperatingCountry/AddOperatingCountry">Add Operating Countries</a></li>
                                <li><a href="~/OperatingCountry/ViewAllOperatingCountry">View All Operating Countries</a></li>
                            </ul>
                        </li>

                        <!--SubDepartments-->
                        <li id="DepartmentsSidemenu">
                            <a class="has-arrow  " aria-expanded="false" href="#">
                                <i class="fa fa-columns"></i>
                                <span class="hide-menu">Operating Locations</span>
                            </a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="~/OperatingLocation/AddOperatingLocation">Add Operating Locations</a></li>
                                <li><a href="~/OperatingLocation/ViewAllOperatingLocation">View All Operating Locations</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->
        <!-- Page wrapper  -->
        <div class="page-wrapper">

            <!-- Container fluid  -->
            <!-- Start Page Content -->
            @RenderBody()
            <!-- End PAge Content -->
            <!-- End Container fluid  -->
            <!-- footer -->
            <footer class="footer "> © 2019 All rights reserved.</footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Wrapper -->
    <!-- All Jquery -->
    <!--Custom JavaScript -->
    <!-- Amchart -->


</body>

</html>
<script>

    $.ajax({
        url: '/Notifications/GetNewRequests/',
        data: null,
        type: 'Get',
        contentType: 'application/json',
        success: getmyticketsonsuccess,
        error: onerror
    });

    function getmyticketsonsuccess(data) {


        var table = document.getElementsByClassName("message-center")[0];
        $(table).empty();
        var count = 0;
        for (var item in data) { count++; }
        document.getElementById("numberofnotifications").innerHTML = count;
        for (var i = 0; i < count; i++) {
            if (data[i].Type ==="Trip") {
                var row = $("<a href='/Trip/ManageTripRequest?TripRequestID=" +
                    data[i].RequestID +
                    "'> <div class='btn btn-info btn-circle m-r-10'><i class='ti-user'></i></div><div class='mail-contnet'><h5>new Trip Request Added by "
                    + data[i].ClientName +
                    "</h5> <span class='time'>"
                    + data[i].CreationDate + "</span></div></a>");
                $(table).append(row);
            } else {
                var row = $("<a href='/PickUp/ManagePickUpRequest?PickUpRequestID=" +
                    data[i].RequestID +
                    "'> <div class='btn btn-success btn-circle m-r-10'><i class='ti-user'></i></div><div class='mail-contnet'><h5>new Pick Up Request Added by "
                    + data[i].ClientName +
                    "</h5> <span class='time'>"
                    + data[i].CreationDate + "</span></div></a>");
                $(table).append(row);

            }


        }


        // $("dropdown-menu dropdown-menu-right mailbox animated zoomIn").append(table);
        //         $("#dropdown-menu dropdown-menu-right mailbox animated zoomIn").scrollTop($("#conversation")[0].scrollHeight);


    }
</script>