@model Stock_System2.Models.item_details

@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="script.js"></script>
<script src="~/Scripts/jquery-1.10.2.js"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="http://code.jquery.com/jquery-1.7.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/jquery-ui.js" type="text/javascript"></script>
<link href="http://ajax.aspnetcdn.com/ajax/jquery.ui/1.8.9/themes/blitzer/jquery-ui.css"
      rel="stylesheet" type="text/css" />
<link href="~/Content/Ahmed.css" rel="stylesheet" />
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>Edit</title>
</head>
@try
{ 
<body class="modal fade" id="M2" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="alert alert-danger alert-dismissable" id="div_Error2" style="display:none; text-align:center">

    </div>

    <div class="alert alert-success alert-dismissable" id="div_Success" style="display:none">
      
    </div>
    <table id="tableEdit" class="table table-bordered">
        <caption>
             Item Detils
        </caption>
        <tr>
            <td>
                Ram
            </td>
            <td>

                @Html.TextBoxFor(m => Model.Ram, new { @id = "Ram", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Processor
            </td>
            <td>

                @Html.TextBoxFor(m => Model.Processor, new { @id = "Processor", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Model
            </td>
            <td>

                @Html.TextBoxFor(m => Model.Model, new { @id = "Model", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Manufactor
            </td>
            <td>

                @Html.TextBoxFor(m => Model.Manufacture, new { @id = "Man", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>

                @Html.TextBoxFor(m => Model.status, new { @id = "Status", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" id="submit2">
                    <span class="badge">5</span>
                    Change Data
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" id="ll" onclick="window.location.reload();">
                    Close
                </button>
            </td>
        </tr>
    </table>

</body>
}
catch(NullReferenceException)
{
   <body class="modal fade" id="M2" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="alert alert-danger alert-dismissable" id="div_Error2" style="display:none; text-align:center">

    </div>

    <div class="alert alert-success alert-dismissable" id="div_Success" style="display:none">
      
    </div>
    <table id="tableEdit" class="table table-bordered">
        <caption>
             Item Detils
        </caption>
        <tr>
            <td>
                Ram
            </td>
            <td>

                @Html.TextBox("", new { @id = "Ram", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Processor
            </td>
            <td>

                @Html.TextBox("", new { @id = "Processor", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Model
            </td>
            <td>

                @Html.TextBox("", new { @id = "Model", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Manufactor
            </td>
            <td>

                @Html.TextBox("", new { @id = "Man", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                Status
            </td>
            <td>

                @Html.TextBox("", new { @id = "Status", style = "color:black" })

            </td>

        </tr>
        <tr>
            <td>
                <button type="button" class="btn btn-primary" id="submit2">
                    <span class="badge">5</span>
                    Change Data
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-default" id="ll" onclick="window.location.reload();">
                    Close
                </button>
            </td>
        </tr>
    </table>

</body> 
}
</html>
<script type="text/javascript">

    $('#submit2').on('click', function () {
        var regex = /^[0-9]+$/;
          
               var UserData =
                   {
                       Ram: $("#Ram").val(),
                       Processor: $("#Processor").val(),
                       Model: $("#Model").val(),
                       Man: $("#Man").val(),
                       Status: $("#Status").val()
                   };
               var orderx = JSON.stringify(UserData);
               $.ajax({
                   url: '@Url.Action("Details","Item")',
                   type: 'POST',
                   dataType: "json",
                   contentType: 'application/json; charset=utf-8',
                   data: orderx,
                   success: function (message) {
                       if (message == "success") {
                           $('#div_Success').show();
                           $('#div_Error2').hide();
                           $("#div_Success").text("Updating Item Details is Done");
                           @*window.location = '@Url.Action("Dash", "Admin2")'*@

                       }
                       else if(message == "success2") {
                           $("#div_Success").show();
                           //$("#div_Error2").append("a7a");
                           $("#div_Success").text("Adding Item Details is Done");
                           $('#div_Error2').hide();

                       }
                       else
                       {
                           $("#div_Error2").show();
                           //$("#div_Error2").append("a7a");
                           $("#div_Error2").text("Updating Item Data is Faild");
                           $('#div_Success').hide();

                       }

                   }

               });
           

        });


</script>

